body{
    font-family: 'Roboto', sans-serif;
}
.app-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.btn{
    transition: all 0.8s linear; 
}
#txtTaskName:focus{
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}
*::-webkit-input-placeholder {
    color: #ED305C!important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ED305C!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ED305C!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ED305C!important;
}